
div#header-wrapper {
    position:fixed;
    margin:0 auto;
    height:50px;
    top:0;
    right:0;
    width:100%;
}

div#header {
    height:50px;
    margin-left:100px;
}

div#leftbar-wrapper {
    position:fixed;
    margin-top: 100px;
    top:0;
    left:0;
    margin-top:0;
    height:100%;
}
div#leftbar {
    height:100%;
    margin:0 auto;
}
div#rightbar-wrapper {
    position:fixed;
    margin-top: 100px;
    width:40px;
    margin-left: 40px;
    top:0;
    left:10px;
    margin-top:0;
    height:100%;
}
div#rightbar {
    height:100%;
    margin:0 auto;
}


div#footer-wrapper {
    position:fixed;
    margin:0 auto;
    height:50px;
    bottom:0;
    right:0;
}

div#footer {
    height:50px;
    margin-left:0;
}